* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #d0d1d3;

}
.main {
    margin: 0px 10%;
}

#projects{
    transition:1s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: none;
    background-color: burlywood;
    height: 60px;
}

header h3 {
    padding-left: 12px;
    font-weight: bold;
    color: rgb(93, 34, 6);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    list-style: none;
    align-items: center;
    transition: 1s;
}

nav ol {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    transition: 1s;
}



a {
    text-decoration: none;
    color: rgb(90, 65, 33);
    transition: 1s;
    border-bottom: solid 0.01px;
}

a:hover {
    color: rgb(220, 211, 204);
    transform: rotate3d(1, 1, 0, 10deg);
}

.btn {
    padding: 8px 30px;
    border: none;
    background-color: peru;
    border-radius: 6px;
    color: #fff;
    transition: 1s;
    visibility: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 3px;
}

.btn:hover {
    background-color: burlywood;
    cursor: pointer;
}

.accueil {
    margin-top: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.accueil img {
    margin-top: 30px;
    max-width: 40%;
    min-height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

section {
    margin-top: 60px;
}

section h3 {
    text-align: center;
    border-bottom: solid 2px;
    padding-bottom: 10px;
    border-color: rgb(154, 161, 161);
    font-size: 25px;
}

.grid {
    margin-top: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.project-grid {
    width: 100%;
    max-height: 600px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    transition: 1s;
}

.project-grid:hover {
    transform: scale(1.03);
    border: solid 1px;
    border-color: yellow;
    cursor: pointer;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.image-project {
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
}

.bnt-grid {
    margin: 10px;
    display: flex;
    gap: 20px;
}

button {
    padding: 5px;
    background-color: rgb(192, 164, 53);
    width: 100px;
    border-radius: 7px;
    border: none;
    margin-top: 20px ;
}

.btn-skill{
    padding: 10px;
    border: none;
    background-color: cornflowerblue;
    border-radius: 7px;
    text-align: center;
}
.skills{
    padding-top: 16px;
    display: flex;  
    gap:15px;
}

.form{
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;

}

input {
    max-width: 100%;
    height: 30px;
    border-radius: 8px;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: antiquewhite;
}

footer{
    width: 100%;
    height: 80px;
    border: none;
    text-align: center;
    align-content: center;
    background-color:burlywood;
}
@media(max-width:1000px) {

    nav ol {
        visibility: hidden;
        transform: scale(0.1);
    }

    .btn {
        margin-right: 14px;
        padding: 8px 30px;
        border: none;
        background-color: peru;
        border-radius: 6px;
        color: #fff;
        transform: scale(1.1);
        visibility: visible;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

